
  html,
  body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
  }
  .header {
    position: relative;
    z-index: 2000;
    background-color: #454546;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
  }
  .btn {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }
  .container {
    height: 100%;
    position: relative;
    width: auto;
  }
  .venueimg {
    width: 100%;
  }
  h1 {
    color: #ABB1B4;
    font-size: 22px;
    margin: 10px;
    text-align: left;
  }
  h2 {
    color: white;
    font-size: 15px;
  }
  p {
    color: gray;
  }
  hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
  }
  ul {
    font-size: 16px;
    color: #ABB1B4;
    padding-top: 20px;
  }
  li {
    margin-top: 10px;
  }
  li:hover {
    color: #FCC900;
    cursor: pointer;
  }
  #sidebar-wrapper {
    z-index: 1000;
    width: 300px;
    height: 100%;
    padding-top: 30px;
    padding-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #252526;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;s
  }
  #map {
    bottom:0px;
    height: 100%;
    left: 0px;
    position: absolute;
    right: 0px;
  }
   @media only screen and (max-width: 480px) {
    h1 { font-size: 16px; }
    ul { font-size: 14px;}
    .btn { color: gray; }
    .header {padding-bottom: 5px;}
    }
